/* Error: Undefined variable.
 *    ,
 * 11 |     gap: $gap;
 *    |          ^^^^
 *    '
 *   assets/scss/_forms.scss 11:10  @use
 *   assets/scss/main.scss 6:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502      gap: $gap;\a    \2502           ^^^^\a    \2575 \a   assets/scss/_forms.scss 11:10  @use\a   assets/scss/main.scss 6:1      root stylesheet";
}
